.custom-card {
  margin: 1rem auto;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.custom-card-header {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  border-radius: 12px 12px 0px 0px;
  mat-card-title {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

.form-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grid {
  display: grid;
  gap: 1rem;
  width: 100%;
  
  grid-template-columns: 1fr;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}

.form-field {
  width: 100%;
  max-width: 700px;
}

.button-wrapper {
  width: 100%;
  margin-top: 2rem;
  text-align: right;
}